<div class="modal-content">
  <h5>Publicar objeto</h5>
  <div class="row">
    <form class="col s12">
      <div class="row">

        <div class="input-field col s12">
          <textarea placeholder="Descreva o objeto, como tamanho, cor, último local onde lembra do item." type="text" class="validate materialize-textarea"></textarea>
          <label>Descrição</label>
        </div>

        <div class="input-field col s12 m6 l4">
          <select materialize="material_select" [materializeSelectOptions]="status">
                <option *ngFor="let option of status" [value]="option.value">{{option.name}}</option>
              </select>
          <label>Status</label>
        </div>

        <div class="input-field col s12 m6 l4">
          <input type="text" class="materialize">
          <label>Autor</label>
        </div>

        <div class="input-field col s12 m6 l4">
          <input type="text" class="materialize">
          <label>Horário</label>
        </div>

      </div>
    </form>
  </div>

</div>
<div class="modal-footer">
  <a class="modal-action modal-close waves-effect waves-green btn-flat left">Anexar Imagem</a>
  <a class="modal-action modal-close waves-effect waves-green btn-flat">Publicar</a>
  <a class="modal-action modal-close waves-effect waves-red btn-flat white">Sair</a>
</div>