<h5>Posts</h5>

<div class="row">

  <p *ngIf="listaPost == 0">Nenhum post publicado</p>
  <div class="col s12 m6 l4" *ngFor="let post of listaPost">

    <div class="card">
      <div class="card-image">
        <img [src]="post.url" *ngIf="post.url">
        <a (click)="naoPronto()" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chat</i></a>
      </div>

      <div class="card-content">
        <p><b>Descrição:</b> {{post.descricao}}</p>
        <p><b>Status:</b> {{post?.status?.descricao}}</p>
        <p><b>Categoria:</b> {{post?.categoria?.descricao}}</p>
        <p><b>Local:</b> {{post?.local?.descricao}}</p>
        <p><b>Usuário:</b> {{post?.usuario?.nome}}</p>
      </div>
      <div class="card-action center">
        <a (click)="editar(post._id)">Editar</a>
        <a (click)="excluir(post._id)">Excluir</a>
      </div>
    </div>

  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" (click)="novo()">
      <i class="large material-icons">add</i>
    </a>
</div>