<form #categoriaForm="ngForm" (ngSubmit)="salvar()">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <h5>Cadastro de Categoria</h5>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input type="text" name="form.descricao" [(ngModel)]="form.descricao" class="materialize" maxlength="80" required="required">
              <label>Descrição</label>
            </div>
          </div>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="input-field col inline right">
              <button (click)="voltar()" type="button" class="btn-flat btn-tiny waves-effect waves-light blue white-text">Voltar</button>
              <button type="submit" [disabled]="!categoriaForm.form.valid" class="btn-flat btn-tiny waves-effect waves-light blue white-text">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>