<nav>
  <div class="nav-wrapper">
    <a class="title" routerLink="/">
        Lost Fatec
    </a>
    <ul *ngIf="exibeMenu" id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/post-listar">Posts</a></li>
      <li><a routerLink="/usuario-cadastrar">Cadastro de Usuário</a></li>
      <li><a routerLink="/status-listar">Cadastro de Status</a></li>
      <li><a routerLink="/categoria-listar">Cadastro de Categoria</a></li>
      <li><a routerLink="/local-listar">Cadastro de Local</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>